langgraph==1.0.9
langgraph-checkpoint==4.0.0
langgraph-checkpoint-sqlite==3.0.3
langgraph-prebuilt==1.0.8
langchain==1.2.10
langchain-core==1.2.16
langchain-community==0.4.1
langchain-openai==1.1.10
langchain-google-genai==4.2.1
langchain-groq==1.1.2
langsmith==0.7.7
tavily-python
# notion-client
slack_sdk
python-telegram-bot
twilio
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
fastapi
uvicorn
python-multipart
python-dotenv
selenium
webdriver_manager
html2text
bs4
streamlit